// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  border-radius:0;
  box-shadow: 0px 1px 3px #2a2a2a;

  font-family: "Helvetica Neue", Helvetica;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
}

.navbar a {
  color: #545759;
}

.navbar a.navbar-brand {
  color: #545759;

  font-family: 'Grand Hotel', cursive;
  font-size: 37px;
  font-weight: 200;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;

  background-color: white;
}

.navbar-toggle .icon-bar {
  background-color: #545759;
}

.list-farm-btn {
  position: relative;

  display: inline-block;    margin-bottom: 0;    cursor: pointer;-webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none;    text-align: center;    vertical-align: middle;    white-space: nowrap;

  border: solid 1px;border: 1px solid;
  border-width: 2px;-webkit-border-radius: 2px;    -moz-border-radius: 2px;    border-radius: 2px;
  background-color: transparent;font-weight: bold;
  font-weight: normal;line-height: 1.43;
}


.hero {
  height:700px;

  background: url('barn-hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
  margin-top: 280px;

  color:white;
  background:rgba(0,0,0, 0.5);
}

.frosty h1 {
  text-shadow: rgba(0,0,0,0.95) 1px 1px;

  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
}

.frosty h2 {
  text-shadow: rgba(0,0,0,0.95) 1px 1px;

  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

#search {
  // padding-left: 250px;
  // padding-right: 250px;
  width: 100%;
  margin-top: 280px;

  color: white;
  border: 0;
  outline:none;
  background:rgba(0,0,0, 0.5);
  text-shadow: rgba(0,0,0,0.95) 1px 1px;

  font-family: "Helvetica Neue", Helvetica;
  font-size: 27px;
  font-weight: 100;
  line-height: 77px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
