body {
  color: #545759;

  font-family: 'Muli', sans-serif;
}

.booyah-box {
  padding:10px;

  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

// Remove round edges from all buttons
.btn {
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
  border-radius:                    0px;
}

abbr[title], abbr[data-original-title] {
  cursor: default;
}

.clear {
  clear: both;
}

.btn-danger {
  color: #fff;
  border-color: transparent;
  background-color: #FF7055;
}
.btn-danger:hover {
  color: #fff;
  border-color: transparent;
  background-color: #ec6e67;
}

.btn-success {
    color: #fff;
    border-color: #2BE5BA;
    background-color: #2BE5BA;
}

.btn-success:hover {
  color: #fff;
  border-color: transparent;
  background-color: #49E5C1;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  border-color: transparent;
  background-color: #49E5C1;
}

.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus {
  color: #fff;
  border-color: transparent;
  background-color: #2BE5BA;
}

Li.list-farm-btn a {
  padding: 4px 12px;

  color: #FF7055;

}

Li.list-farm-btn {margin-top: 10px;
  margin-right: 15px;

  border-color: #FF7055;

  line-height: 61px;
}

.alert-info {
  position: absolute;
  left: 50%;

  margin-top: 20px;
  margin-left: -100px;
}

.clear {
    clear: both;
}

a {
    color: #545759;
}
